  <div class="container">
    <h2>Mirage test</h2>
  </div>
        <ul>
          <!--length of mrage test list  -->
          <li>{{model.contact.data.length}}</li>
          <!--second mirage list  -->
          <li>{{model.contact2.data.attributes.name}}</li>
        </ul>

  <!--
          {{#each model as |contact|}}
          {{contact-tile contact=contact update="update" destroyContact="destroyContact"}}
          {{/each}}
        </ul>
        <br>
        {{new-contact saveContact2="saveContact3"}}
       -->
